h2 {
    
    margin-top:30px;
    margin-bottom: 30px;
    text-align: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.infos {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center; 
    display: flex;
    flex-direction: column;
}

.infos span:nth-child(1) {
    text-transform: uppercase;
}

.infos span:nth-child(2) {
    font-weight: bold;
    color: #171717;
}
.image img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-top: 20px;
}

.buttons button {
    background-color: transparent;
    border: none; 
}

.buttons button img {
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.buttons button:first-child {
    transform: rotate(180deg);
}

.buttons button img:active {
    transform: scale(1.05);
}